@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Dancing+Script&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.2)50%,rgba(0,0,0,0.5)50%), url(img/catering.jpg);
    /*background-image: url(img/catering.jpg);*/
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}

.main .navbar {
    width: 800px;
    height: 75px;
    margin: auto;
    float: right;
    padding-top: 20px;
}

.navbar .sticky {
    position: fixed;
    top: 0;
    width: 100px;
}

.main .navbar .sticky+body .page2 {
    padding-top: 60px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    float: left;
    position: relative;
    margin: 15px 15px 5px 15px;
}

.logo-name {
    color: #e4dbd5;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    float: left;
    padding-left: 20px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.btn {
    width: 120px;
    height: 40px;
    background: #0ca874;
    border: 2px solid #1d1c1c;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease;
    cursor: pointer;
    float: right;
    margin-right: 30px;
}

.btn:hover {
    color: #000;
}

.btn:focus {
    outline: none;
}


.box{
    width: 600px;
    height: 400px;
    background: transparent;
    margin-left: 390px;
    padding-top: 150px;

}

.box .title p{
    transform: rotate(350deg);
    padding-top: 30px;
    padding-left: 200px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: 500;
    color:white;
}

.box .sub-title p{
    text-align: center;
    color: #fff;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.box .blog p{
    padding: 20px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2;
    color: #fff;
    font-size: 18px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}

.contact .btn-1{
    width: 120px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    border: 2px solid #c4bfbf;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.2s ease;
    cursor: pointer;  
    margin-left: 630px;
    margin-top: 30px;

}

.contact .btn-1:hover {
    color: #48df0cf1;
}

.contact .btn-1:focus {
    outline: none;
}

.footer{
    width: 100%;
    background: #000;
    background-position: center;
    background-size: cover;
    height: 50vh;
}


.footer .title p{
    transform: rotate(350deg);
    padding-top: 25px;
    padding-left: 625px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #f7f6f2c7;
}

.footer{
    width: 100%;
    background: #000;
    background-position: center;
    background-size: cover;
    height: 50vh;
}


.footer .title p{
    transform: rotate(350deg);
    padding-top: 25px;
    padding-left: 625px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #f7f6f2c7;
}

.footer .par-1 p{
    padding-top: 20px;
    padding-left: 550px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #b8acac;
}

.footer .par-2 {
    padding-top: 30px;
    padding-left: 100px;
}

.footer .par-2 .bold{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #b8acac;
}

.footer .par-2 .time{
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    color: #b8acac;
    float: left;
}

.footer .par-3 p{
    margin-top: -40px;
    padding-left: 500px;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    color: #b8acac;
}

.footer .par-4 p{
    margin-top: -75px;
    padding-right: 100px;
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    color: #b8acac;
    text-align: right;
}

.footer .par-5 p{
    padding-top: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #b8acac;
}